/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
.agignore
/.cider-repl*
/.lein-*
/.nrepl-port
/.repl
/out
perf
/release-js/datascript*.js
/release-js/npm-*
/web/out
/web/*.js
/web/target-cljs
