*.class
*.iml
*.jar
.cljs_node_repl
.cpcache
.DS_Store
.idea
.vscode
/.lein-*
/.nrepl-port
/.repl*
/bench/target
/checkouts
/classes
/out
/target
dev/playground.clj
node_modules
package-lock.json
pom.xml
pom.xml.asc
reading
release-js/datascript*.js
release-js/npm-*
TODO.txt
web/*.js
web/out
web/target-cljs
.rebl