/target
/bench/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.repl*
web/out
web/*.js
release-js/datascript*.js
release-js/npm-*
web/target-cljs
.idea
*.iml
.vscode
.cpcache
dev/playground.clj
.DS_Store
TODO.txt
.cljs_node_repl
node_modules
package-lock.json
reading
