{ :aliases {
    :1.9 {
      :override-deps {
        org.clojure/clojure {:mvn/version "1.9.0"}
      }
    }
  
    :1.10 {
      :override-deps {
        org.clojure/clojure {:mvn/version "1.10.0"}
      }
    }
    :dev {
      :extra-paths ["dev"]
      :extra-deps {
        org.clojure/tools.namespace {:mvn/version "0.2.11"}
      }
    }
    :test {
      :extra-paths ["test"]
      :extra-deps {
        org.clojure/clojurescript {:mvn/version "1.10.439"}
      }
    }

    :repl {
      :extra-deps {
        cider/cider-nrepl           {:mvn/version "0.18.0"}
        nrepl/nrepl                 {:mvn/version "0.5.1"}
        org.clojure/tools.namespace {:mvn/version "0.2.11"}
      }
      :main-opts [
        "-m" "nrepl.cmdline" "--middleware" "[cider.nrepl/cider-middleware]"
      ]
    }

    :datomic {
      :extra-deps {
        com.datomic/datomic-free {:mvn/version  "0.9.5703"}
      }
    }
  }
}

