{ 
  :deps {
    persistent-sorted-set/persistent-sorted-set {:mvn/version "0.1.4"}
  }
  
  :aliases {
    :1.9 {
      :override-deps {
        org.clojure/clojure {:mvn/version "1.9.0"}
      }
    }
  
    :1.10 {
      :override-deps {
        org.clojure/clojure {:mvn/version "1.10.2"}
      }
    }

    :test {
      :extra-paths ["test"]
      :extra-deps {
        org.clojure/clojurescript  {:mvn/version "1.10.520"}
        metosin/jsonista           {:mvn/version "0.3.3"}
        cheshire/cheshire          {:mvn/version "5.10.0"}
        com.cognitect/transit-clj  {:mvn/version "1.0.324"}
        com.cognitect/transit-cljs {:mvn/version "0.8.269"}
      }
    }

    :bench {
      :extra-paths ["bench"]
      :jvm-opts ["-Djdk.attach.allowAttachSelf"
                 "-XX:+UnlockDiagnosticVMOptions"
                 "-XX:+DebugNonSafepoints"]
      :extra-deps {
        metosin/jsonista    {:mvn/version "0.3.3"}
        criterium/criterium {:mvn/version "0.4.6"}
        com.clojure-goes-fast/clj-async-profiler {:mvn/version "0.5.1"}
      }
    }

    :nrepl {
      :extra-deps {
        nrepl/nrepl {:mvn/version "0.8.3"}
        lambdaisland/deep-diff2 {:mvn/version "2.0.108"}
      }
    }

    :datomic {
      :extra-paths ["test_datomic"]
      :extra-deps {
        ;; datomic-pro is not available on Clojars or Maven Central
        ;; 1. download it from https://my.datomic.com/downloads/pro
        ;; 2. unzip
        ;; 3. run bin/maven-install
        com.datomic/datomic-pro {:mvn/version "1.0.6344"}
      }
    }
  }
}
